.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #24273a; /*頁面背景*/
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
